<section class="bg-zinc-900 p-10 my-4 text-center rounded-2xl my-10 pb-24">
    <h1 class="font-bold text-4xl py-10">About us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolorum placeat ducimus reiciendis in illum.</p>
</section>