<header class="flex flex-col md:flex-row bg-zinc-900 md:p-10 gap-3 mt-4 text-center md:text-left rounded-2xl">
    <div class='my-3 flex-1'>
        <h1 class="text-4xl font-bold">Transformarme en una persona memorable 😎</h1>
        <p class="my-4 text-2xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, qui!</p>
        <button class="bg-indigo-500 py-2 my-3 px-4 hover:bg-indigo-400 text-2xl rounded-md">WhatsApp</button>
    </div>
    <img src="/public/images/alien.svg" alt="icon" class="w-80 mx-auto flex-2">
</header>