---

---

<section class="flex flex-col md:flex-row rounded-2xl p-5 mb-100">
    <div class="grid grid-cols-2 flex-1 my-8 text-center">
        <div>
            <img src="favicon.svg" alt="logo" class="w-20 m-auto">
            <p>Dev Management</p>
        </div>
        <div>
            <img src="favicon.svg" alt="logo" class="w-20 m-auto">
            <p>Dev Management</p>
        </div>
        <div>
            <img src="favicon.svg" alt="logo" class="w-20 m-auto">
            <p>Dev Management</p>
        </div>
        <div>
            <img src="favicon.svg" alt="logo" class="w-20 m-auto">
            <p>Dev Management</p>
        </div>

    </div>
    <div class="flex flex-1 flex-col text-center md:text-left">
        <h2 class="font-bold text-3xl pb-5">Importancia de la definición</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nihil rem quasi eos culpa necessitatibus quos recusandae vel doloremque magnam? Accusamus, voluptatem! Distinctio, similique voluptatibus commodi consectetur odit assumenda laborum.</p>
</div>

</section>