<footer class="bg-zinc-800 my-5 py-5 md:py-10">
    <div class="mx-auto flex flex-col md:flex-row gap-4 justify-evenly text-center mb-10 md:mb-3">
        <div class="grid grid-row">
            <h4 class="font-bold text-xl pb-2">Page</h4>
            <a href="/#" >Home</a>
            <a href="/about" >About</a>
            <a href="/#" >Projects</a>
        </div>
        <div>
            <a href="/" class="font-bold text-xl pb-2">SiteMap</a>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class=" grid grid-row">
            <h4 class="font-bold text-xl pb-2">Social</h4>
            <a href="/#">Facebook</a>
            <a href="/#">Twitter</a>
            <a href="/#">Instagram</a>
            <a href="/#">Youtube</a>
        </div>
    </div>
    <p class="text-center">Todos los derechos reservados 2024</p>
</footer>